:root{
    --color-dark-grey: #2E2F35;
    --color-grey: #58595D;
    --color-light-grey: #A89B90;
    --color-white: #FFFFFF;
    --color-green: #009387;
    --color-orange: #FF6D2C;
    --color-yellow: #FDC639;
    --color-quote-border: #D1C7BE;
    font-size: 10px;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #FDF3EA;
    font-family: Inter, sans-serif;
}

a{
    text-decoration: none;
}

div.a{
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
}

/* == button block == */

.button{
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 1.4rem 2.2rem 1.2rem;
    border-radius: 1.2rem;
    border: 0.2rem solid var(--color-dark-grey);
    color: var(--color-dark-grey);
    box-shadow: 4px 4px 0px 0px var(--color-dark-grey);
    background-color: var(--color-white);
    transition: transform .2s ease-in-out,
                box-shadow .2s ease-in-out;
} 

.button:hover{
    box-shadow: 2px 2px 0px 0px var(--color-dark-grey);
    transform: translate(2px, 2px);
}

.button:active{
    box-shadow: 0px 0px 0px 0px var(--color-dark-grey);
    transform: translate(4px, 4px);
}

.button--orange{
    background-color: var(--color-orange);
    color: var(--color-white);
}

.button--big{
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 2.2rem 6.5rem;
}

/* == button block == */

/* == heading block == */

.heading{
    font-size: 8.2rem;
    line-height: 9.6rem;
    font-weight: 500;
    color: var(--color-dark-grey);
}
.heading--green{
    font-family: "Covered By Your Grace";
    color: var(--color-green);
}
.heading--medium{
    font-size: 7rem;
    line-height: 7.6rem;
}
.heading--small{
    font-size: 6.3rem;
    line-height: 7.6rem;
}
.heading--extra-small{
    font-size: 6rem;
    line-height: 7rem;
}

/* == heading block == */

/* == subtitle  block== */

.subtitle{
    font-size: 2rem;
    line-height: 3.4rem;
    color: var(--color-grey);
}

/* == subtitle  block== */

/* == rating block == */

.stars--animation {
    display: flex;
    flex-direction: column;
  .stars__star{
    animation: shine .6s linear forwards;
  }
}

.stars__cover{
    height: auto;
}

.stars__star {
  width: 25px;
  height: 25px;
  clip-path: polygon(
    12.0469px 3.42188px,
    15.1369px 9.34616px,
    22.0469px 10.302px,
    17.0469px 14.9109px,
    18.2269px 21.4219px,
    12.0469px 18.3462px,
    5.86688px 21.4219px,
    7.04688px 14.9109px,
    2.04688px 10.302px,
    8.95687px 9.34616px,
    12.0469px 3.42188px
  );

  background: linear-gradient(90deg, var(--color-yellow) 50%, var(--color-light-grey) 50%);
  background-size: 200% 100%;
  background-position: right;
}

.stars__text{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-dark-grey);
    margin: 0;
}

@keyframes shine {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.stars__star:nth-child(1) { animation-delay: 0s; }
.stars__star:nth-child(2) { animation-delay: 0.3s; }
.stars__star:nth-child(3) { animation-delay: 0.6s; }
.stars__star:nth-child(4) { animation-delay: 0.9s; }
.stars__star:nth-child(5) { animation-delay: 1.2s; }

/* == rating block == */

/* == quote block == */
.quote{
    border: 2px solid var(--color-quote-border);
    border-radius: 1.5rem;
    padding: 3.4rem;
    max-width: 516px;
    position: relative;
}

.quote__text{
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: .1rem;
    color: var(--color-grey);
    font-style: italic;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.quote__sign{
    display: flex;
    justify-content: space-between;
}

.quote__name{
    font-family: 'Roboto';
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--color-light-grey);
}

.quote__icon{
    position: absolute;
    top: -1.7rem;
}

/* == quote block == */